body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  padding: 40px 0;
  font-family: "Oxygen", sans-serif;
  color: #24292f;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  max-width: 100px;
}

h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 8px;
}

h4 {
  font-weight: 700;
  padding-top: 8px;
}

ul {
  margin-bottom: 10px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  justify-content: center;
}
.job {
  margin-top: 10px;
}

.photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.photo-container {
  width: 30%;
  margin-right: 5%;
}

.about {
  width: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 30%;
  margin-right: 5%;
  padding-top: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 30px;
  gap: 10px;
}

.description {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contacts,
.skills,
.language {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts-text {
  display: inline-block;
  padding-top: 8px;
}

.skill-item {
  padding-top: 8px;
}

.skill-item::before {
  content: url("./src/angle-small-right.svg");
  margin-right: 7px;
}

.respons-list {
  padding-top: 6px;
  list-style: square inside;
  margin-bottom: 20px;
}

.main-h {
  display: inline-block;
  background-color: rgba(110, 253, 253, 0.3);
}

.profile-text {
  padding-top: 8px;
}

.company {
  display: inline-block;
  padding-top: 6px;
  background-color: rgba(110, 253, 253, 0.2);
}

.job-title {
  font-size: 30px;
}

.education-item {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .photo-container {
    width: 40%;
  }

  .description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .photo {
    width: 100%;
    height: auto;
  }

  .main {
    width: 100%;
    padding-top: 20px;
  }

  .sidebar {
    width: 100%;
    align-items: flex-start;
    padding-top: 20px;
  }

  .skills {
    width: 100%;
  }
  .skill-item {
    padding-top: 6px;
  }

  .contacts {
    width: 100%;
  }

  .photo {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    display: block;
    min-width: 100%;
  }

  h2 {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
  }

  h4 {
    font-weight: 700;
    padding-top: 8px;
  }

  .job-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  ul {
    font-size: 14px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
  }

  .main-h {
    display: block;
    background-color: rgba(110, 253, 253, 0.3);
  }
}

